<div class="row">
  <!-- ---------------------------------------------- -->
  <!-- 1. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0"></h4>
      </div>
      <div class="card-body">
        <h1>Formations <span class="badge bg-secondary">Nouveau</span></h1>
        
      </div>
    </div>
    <!-- ---------------------
                    end Badges
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 2. Badges with button -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with button
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0"></h4>
      </div>
      <div class="card-body">
        <h4 class="card-title">Date 1</h4>
      </div>
    </div>
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0"></h4>
      </div>
      <div class="card-body">
        <h4 class="card-title">Date 2</h4>
      </div>
    </div>
    <!-- ---------------------
                    end Badges with button
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with Background
                ---------------- -->
    <div class="card w-100">
      
    </div>
    <!-- ---------------------
                    end Badges with Background
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges Pill -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges Pill with Background
                ---------------- -->
    
    <!-- ---------------------
                    end Badges Pill with Background
                ---------------- -->
  </div>
</div>
