<div class="card">
    <div class="card-body">
        <h4 class="card-title">About Adminpro Angular</h4>
        <h5 class="card-subtitle text-muted">Coding Kids is an innovative learning platform designed exclusively for children, aiming to equip them with essential coding skills in an enjoyable and interactive manner. Our primary objective is to ignite a passion for technology and creativity among young learners, fostering a generation of forward-thinkers and solution-seekers. Through engaging coding education, we aspire to nurture the innate curiosity and potential of children, empowering them to become proficient coders and confident innovators. At Coding Kids, we believe that by providing quality coding education, we are shaping the future leaders of the digital world</h5>
        <div class="my-4">
            
        </div>        
        <a href="http://localhost:4200/dashboard" class="btn btn-primary">Go to Dashboard</a>
    </div>
</div>